<h1 class="hcs-h1">Welcome to STRENGTHEN</h1>

<div class="container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag('banner.jpg', class: "img-responsive") %></div>
      <div class="swiper-slide"><%= image_tag('banner.jpg', class: "img-responsive") %></div>
      <div class="swiper-slide"><%= image_tag('banner.jpg', class: "img-responsive") %></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev iconfont icon-shangyiye"></div>
    <div class="swiper-button-next iconfont icon-xiayiye"></div>
  </div>
  <% @categories.each do | category | %>
  <div class="pro-title">
    <span><%= category.name %></span>
  </div>
  <div class="pro-list">
    <ul>
      <% category.products_with_img.each do | item | %>
       <li>
         <a href="<%= product_path(item.id) %>" class="row">
          <div class="col-xs-4">
            <img src="<%= item.path %>">
          </div>
          <div class="col-xs-8">
            <h4><%= item.name %></h4>
          </div>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>

<script>
var swiper = new Swiper('.swiper-container', {
  loop: true,
  pagination: '.swiper-pagination',
  paginationClickable: true,
  nextButton: '.swiper-button-next',
  prevButton: '.swiper-button-prev'
});
</script>
